/* font-family: 'Reem Kufi', sans-serif; */

a{
    text-decoration: none!important;
}
li{
    list-style: none;
}
.font-title,.font-welcome{
    font-family: 'Reem Kufi', sans-serif;
    text-transform: lowercase;
    letter-spacing: -1vw;
    font-weight: bold;
    font-size: 9vw;
}
.font-welcome{
    word-spacing: 10px;
    line-height: 75px;
    animation: fade-in 3s linear;
      
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
.font-text{
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
}
.font-card{
    font-family: 'Reem Kufi', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}
.navbar-div{
    height: 16vh;
    margin-bottom: 10px;
    padding: 0px!important;
    display: flex;
    justify-content: start;
    align-items: end;
    cursor: pointer;
    opacity: 75%!important;
    transition: 0.8s;
    border: solid 2px white;
}

.navbar-div:hover{
    opacity: 100%!important;
    transform: scale(1.05);
}
.bg-1{
    background-color: #D56F3E!important;
}
.text-1{
    color: #D56F3E!important;
}
.bg-2{
    background-color: #C7EF00!important;
}
.bg-3{
    background-color: #3C787E!important;
}
.bg-4{
    background-color: #D0CD94!important;
}
.bg-5{
    background-color: #44033f!important;
}
.bg-6{
    background-color: #DB5461!important;
}
.navbar-link{
    margin-left: -15px;
    margin-bottom: -5px;
    padding: 0px !important;
    line-height: 70px;
    font-size: 100px;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    letter-spacing: -10px; 
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
.navbar-link-user{
    padding: 0px !important;
    font-size: 100px;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    letter-spacing: -10px;
    
    animation:bounce 1s ease; 
}
.navbar-div-2{
    height: 10vh;
    margin-bottom: 10px;
    padding: 0px!important;
    display: flex;
    justify-content: start;
    align-items: end;
    cursor: pointer;
    opacity: 75%!important;
    transition: 0.8s;
    border: solid 2px white;
}
.navbar-div-2:hover{
    opacity: 100%!important;
    transform: scale(1.05);
}
.navbar-link-2{
    margin-left: -1vh;
    margin-bottom: -0.5vh;
    padding: 0px !important;
    line-height: 30px;
    font-size: 3vw;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    letter-spacing: -5px; 
}

.shadow_white{
    box-shadow: 0px 5px 15px -1px rgba(199,239,0,0.75)!important;
-webkit-box-shadow: 0px 5px 15px -1px rgba(199,239,0,0.75)!important;
-moz-box-shadow: 0px 5px 15px -1px rgba(199,239,0,0.75)!important;
}

.log-out{
    cursor: pointer;
    color: #C7EF00;
}

  @keyframes rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  .logo{
    width: 30vw;
    animation-name: rotation;
    animation-duration: 2s;
    opacity: 80%;
  }

.navbar-link-user-2{
    padding: 0px !important;
    font-size: 3vw;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    letter-spacing: -0.3vw;
    animation:bounce 1s ease; 
}

.card-link-custom{
    color: black;
    opacity: 85%;
    transition: 0.5s;
}
.card-link-custom:hover{
    opacity: 100%;
    color: white;
}
.card-show{
    border-radius: 0px!important;
}
.card-show-1{
    animation-name: trans_card;
    animation-duration: 1s;
    min-width: 50%!important;
}
@keyframes trans_card{
    from {transform: translateX(-1000px);}
    to {transform: translateX(0px);}
}
.card-index{
    animation-name: trans_card;
    animation-duration: 1s;
    
}

.prg{
    text-align: justify;
}


/* inizio MEDIA SCREEN */
@media screen and (max-width: 1400px){
    .navbar-link-2{
        margin-left: -1vh;
        margin-bottom: -1vh;
        padding: 0px !important;
        line-height: 35px;
        font-size: 3vw;
        color: white;
        font-family: 'Reem Kufi', sans-serif;
        font-weight: bold;
        letter-spacing: -4px; 
    }
}

@media screen and (max-width: 1200px){
    .navbar-link-2{
        margin-bottom: -1.1vh;
        letter-spacing: -2px; 
    }
}

@media screen and (min-width: 992px) {
    .logo{
        width: 18vw;
    }
}

@media screen and (max-width: 906px){
    .navbar-link-2{
        font-size: 3.5vw;
        letter-spacing: -2px;
        margin-left: -2px;
    }
}

@media screen and (max-width: 654px) {
    .navbar-link{
        margin-left: -7.5px;
        margin-bottom: -2.5px;
        padding: 0px !important;
        line-height: 35px;
        font-size: 50px;
        color: white;
        font-family: 'Reem Kufi', sans-serif;
        font-weight: bold;
        letter-spacing: -5px; 
    }
    .navbar-link-user{
        margin-left: -7.5px;
        padding: 0px !important;
        font-size: 50px;
        color: white;
        font-family: 'Reem Kufi', sans-serif;
        font-weight: bold;
        letter-spacing: -5px; 
    }
    .navbar-div{
        height: 10vh;
        margin-bottom: 10px;
        padding: 0px!important;
        display: flex;
        justify-content: start;
        align-items: end;
        cursor: pointer;
        opacity: 75%!important;
        transition: 0.8s;
        border: solid 2px white;
    }
}
@media screen and (max-width: 600px){
    .navbar-link-2{
        font-size: 18px;
        line-height: 10px;
        letter-spacing: -2px;
        transform: rotate(-90deg);
        margin: 0px;
    }
    .navbar-div-2{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 75%!important;
        transition: 0.8s;
        border: solid 2px white;
    }
    .navbar-link-user-2{
        margin-left: -15px;
        padding: 0px !important;
        font-size: 18px;
        color: white;
        font-family: 'Reem Kufi', sans-serif;
        font-weight: bold;
        letter-spacing: -0.3vw; 
    }
    .font-title{
        font-size: 10vw;
    }
}
/* fine MEDIA SCREEN */

.btn-auth:hover{
    background-color: #D56F3E  !important;
    transition: 1s;
}